<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/style.css}" />
</head>

<body>
<div id="wrap">
    <div id="top_content">
        <div id="header">
            <div id="rightheader">
                <p>
                    制作时间2025/8/7，制作人黄耀杰
                    <br />
                </p>
            </div>
            <div id="topheader">
                <h1 id="title">
                    <a href="#">main</a>
                </h1>
            </div>
            <div id="navigation">
            </div>
        </div>
        <div id="content">
            <p id="whereami">
            </p>
            <h1 th:text="发生错误+${erromessage}">
            </h1>
            <br/>
            <br/>
            <br/>
            <p>
                <a th:href="@{/employee/list}" class="button">返回列表</a>
            </p>
        </div>
    </div>
    <div id="footer">
        <div id="footer_bg">
            2328574657@qq.com
        </div>
    </div>
</div>
</body>
</html>
